html,
body {
  height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "TimesNewRoman";
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 111%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 1000px;
  margin: 0 auto;
}

#header,
#footer {
    text-align: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
}


#footer {
    margin-bottom: 50px;
}

#header{
    height:70px;
}

#additional, #additional li {
    margin: 0;
    padding: 0;
}

#additional {
    font-style: italic;
    text-align: center;
    background: rgba(60, 60, 1, 0.7);
    margin-top: 30px;
}

#additional li{
    display:inline-block;
    text-align: center;
    width: 20%;
}

#additional a {
    display: block;
    padding: 10px 15px;
    color: rgba(255, 255, 255, 1);
    font-size: 120%;
    text-decoration: none;
}

#additional ul li a:hover {
    color: rgba(200,200,7,1);
}

#menu ul {
    margin: 0 auto;
    padding: 2px 0 0 0;
    border-top: 2px dotted rgba(6,68,7,1);
    border-bottom: 2px dotted rgba(6,68,7,1);
    text-align: center;
    width: 100%;
}

#menu {
    font-style: italic;
    margin:15px 0px;
    float:right;
}

#menu ul li {
    padding:3px 0;
    display:inline;
}

#menu ul li a{
    padding:0 20px;
    line-height:50px;
    color: rgba(120,120,1,1);
    text-transform:uppercase;
    font-weight:bold;
    text-decoration: none;
}

#menu ul li a:hover {
    color: rgba(1,1,1,1);
    /*color: rgba(85,112,86,1);*/
}

#lab{
    text-align: center;
    text-shadow: black 0 0 3px;
    font-style:italic;
    color: white;
    font-size: 28px;
    padding-top:100px;
}

#logo{
    float:left;
    min-width: 300px;
}

#logo h2{
    margin-left: 50px;
    font-size: 28px;
    color: rgba(6,68,7,1);
}

img{
    width: 70px;
    float: left;
}

.rightpic {
 float: left;
 margin: 5px 15px 0 0;
}

.center-img {
  display: block;
  margin: 0 auto;
}

#achievement h2 {
  text-align: center;
  font-family: "TimesNewRoman";
}
